body{
    margin-right: 0px;
}
main{
    font-family: 'Inter';
}
.information{
    margin-top: 20vw;
}
.head_m{
    display: block;
    margin: 0 auto; 
    width: 54%;
    /* margin-bottom: 1000px; */
}
.fox{
    position: relative; 

    width: 50%;
    height: 100%;

    right: 0.6vw;
    bottom: 1.2vw; 
    transform: rotate(20.08deg);
}
.grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;    
    padding-top: 33px;  

}
.img{
    background-image: url(./img/Union.png);
    margin-top: 5vw;
    padding: 15%;
    background-size: 60%;
    background-repeat:no-repeat; 
    margin-left: 4.76vw;
    width: 35%;
    position: absolute;
    top: 21vw;
    display: grid;

}
.img2{
    font-size: 1.2rem; 
    margin: 0.214vw 0;
    width: 14%;
    position: absolute;
    left: 11.5%;
    top: 58.5%;
}
.text{
    font-size: 1.8vw; 
    line-height: 1.5; 
    color: #fff;
    text-align: center;

}
.text1{
    position: relative;
    margin: 0.214vw 0;
}
.text2{    
    position: relative;
    /* padding-bottom: 1.814vw; */
}

.cont1{
    position:absolute;
    top:1.5%;
    left: 2.5%;
}
.cont2{
    position: absolute;
    top:22.5%;
    left:34%;
}

.box{
    display: flex;
    /* grid-template-columns:12fr 557px; */
    /* position: relative;  */
    top: 24.5vw;   
    width:42%;

}
.fon{
    position: relative;
    left: 20vw;
    bottom: -0.5vw;
    padding: 0px 15vw 0px 26vw;
    height: 34vw;
    width: 134vw;
    background: linear-gradient(330.96deg, rgba(217, 217, 217, 0.13) 0%, rgba(255, 255, 255, 0.13) 78.31%);
    border: 1px solid rgba(217, 217, 217, 0.15);
    backdrop-filter: blur(2.5px);
    border-radius: 1.4vw;
    transform: rotate(-90deg);
}
.fon1{
    width: 35vw;
    right: 15%;
    top: -21%;
}
.mascot{
    width: 27vw;
    right: 15%;
    top: -5%;
}
.box>div>img{
    position:absolute;
    rotate: 90deg;
}

.obg{
    padding: 2vw 2vw 2vw 2vw;
    box-sizing: border-box;
    top: 3.92vw;

    margin-left: 3.92vw;
    background: #0F0F2D;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3.5vw;
}
.fon>.text3,.fon>hr{
    transform: rotate(90deg);
}
.text3{	
    width: 100%;
    position: absolute;
    right: 16vw;
    top: 1.8vw;
    
}
.line{
    position:relative;
    margin-top: 0%;
    margin-bottom: 4%;
}
.line1{
    padding: 0px 6.6vw 0px 5vw;
    position:absolute;
    right: 32vw;
    top: 3.1vw;
}
.NavObgText{
    font-size: 2vw; 
    font-weight:bold;
    line-height: 1.5; 
    color: #fff;
    margin-left: 4.76vw;
    margin-bottom: 1.428vw;
}
.flex {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}
.rgbText1{
    font-size: 2vw;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    margin: 0 auto; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    /* bottom: 1%; */
    padding-left: 1vw;
    padding-right: 10vw;
    font-style: normal;
    font-weight: 900;
    /* line-height: 48px; */
    letter-spacing: -0.05em;

    /* зад фон */
    background: linear-gradient(251.21deg, #8F0B9B 0%, #3109B4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.radius{
    border-radius: 100%;
    width: 3.6vw;
}
.img3{
    position: relative;
    /* padding-top: 0.4vw; */
    /* padding-left: 0.5vw; */

    width: 3vw;
}
.fon3{
    /* padding: 0.1vw; */
    background: rgba(68, 63, 63, 0.5);
    border-radius: 1.438vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw; /* Фиксированная ширина */
    height: 4vw; /* Фиксированная высота */
    margin-left: 1vw; /* Отступ между текстом и иконкой */

    -webkit-box-shadow: 0px 0.4vw 0.4vw rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0.4vw 0.4vw rgba(0, 0, 0, 0.4);

    box-shadow: 0px 0.4vw 0.4vw rgba(0, 0, 0, 0.4);

}

.textC{

    font-style: normal;
    font-weight: 600;
    font-size: 1.4vw;
    line-height: 0.1vw;

    /* line-height: 2.1vw; */

    /* letter-spacing: -0.05em; */

}
.margin{
    margin-bottom:10%;
}
.textColor{
    color: #FFFFFF;
}
.textColor1{
    color: #C5BBBB;
}
.rgbText3{
    background: linear-gradient(270.07deg, #FFFFFF 0.06%, #C91DBE 99.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.marg{
    margin-top: 2vw;
    line-height: 2vw;
}
.box1{
    display: grid;
}
.information1{
    margin-top: 7vw;
    display: flex;
}
.box1{
    margin-right: 20vw;
}
.icon3{
    width: 3.6vw;
    
}

.fon5{
    padding-right: 10.5%;
    position: relative;
    right: 2.8vw;   
    margin-right: 0%;
    padding-top: 0.4vw;
}
.img5{
    width: 3vw;
    height: 3vw;
    position: relative;
    left: 52%;
    
}
.RGB2{
    background: linear-gradient(270.07deg, #FFFFFF 0.06%, #8A1DC9 99.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.on{
    width: 1.6vw;
    position: relative;
    top: 0.414vw;
    left: 1.428vw;
}
.RGB3{
    background: linear-gradient(270.07deg, #FFFFFF 0.06%, #C91DBE 99.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
} 
.none_hr{
    display: none;
}
.display_none{
    display: none;
}
@media (max-width: 700px){
    .display_none{
        display: block;
    }
    .head_m{
        display: none;
    }
    .img{
        background-image: url(./img/Union2.png);
        background-size: 100%;
        width: 60%;
        left: 2.2vw;
        padding-left: 10vw;
        padding-top: 44vw;
    }
    .img2{
        font-size: 1.2rem;
        width: 22%;
        left: 23.5%;
        top: 61%;
        background-color: white;
        border-radius: 4vw;
        padding: 0.5vw;
        
    }
    .text{
        font-size: 3.6vw;
    }
    .cont1{
        top: 2vw;
        left: 5.5vw;
    }
    .cont2{
        top: 17.5vw;
        left: 50vw;
    }
    .grid{
        display: block;
        
    }   
    .ord{
        display: flex;
        flex-direction: column;
    }
    .information{
        display: flex;
        order: 2;
    }
    .information1{
        display: flex;
        order: 1;
    }   
    .boxO1{order: 2; margin-top: 160vw;}
    .boxO2{order: 1;}
    .boxO3{order: 2; margin-top: 12vw;}
    .boxO4{order: 1; margin-top: 60vw;}
    
    .NavObgText{
        text-align: center;
        font-size: 6vw;
        position: relative;
        top: 1vw;
    }
    .none_hr{
        display: block;
        margin-left: 16vw;
        margin-right: 10vw;
        margin-bottom: 3vw;
        background-color:hsl(240, 9%, 39%);
    }
    .icon3{
       width: 15vw;
    }
    .rgbText1{
        font-size: 6vw;
    }
    .obg{
        width: 92vw;
        height: 95%;
        padding: 5vw;
        padding-top: 8vw;   
        padding-right: 4vw;   
        padding-left: 9vw;
        border-radius: 10vw;
    }
    .textC{
        padding-right: 9vw;   
        font-size: 4vw;
        line-height: 5vw;
    }
    .marg{
        margin-top: 4vw;
    }
    .img5, .img3{
        width: 8vw;
        height: 8vw;
        left: 1vw;
    }
    .fon5,.fon3{
        border-radius: 2vw;
        padding: 3.4vw;
        padding-right: 5vw;
    }
    .radius{
        width: 10vw;
    }
    .rgbText1{  
        right: 10vw;
    }
    .right{
        right: 3vw;
    }
    .right1{
        right: 7vw;
    }
    .information1{
        display: grid;
    }
    .box1{
        gap: 10vw;
    }    
    .iconW{
        order: 3;
    }
    .right3{
        order: 2;
        left: 18vw;
    }
    .Shield{
        order: 1;
    }
    .on{
        width:4vw;
        top: 0.8vw;
    }
    .fox{
        width: 0px;
        /* padding-top: 200vw; */
        z-index: 1;
    }
    .fox1{
        position: relative; 

        width: 33vw;
        height: 45vw;

        left: 27.5vw;
        transform: rotate(290deg);    }

    .fon{
        position: relative;
        left: -98.1vw;
        bottom: 117vw;
        padding:56vw 4vw 0vw 108vw;
        border-radius: 5vw;
    }
    .fon1{
        padding:0vw 3vw 0vw 3vw;
        width: 90vw;
        height: 110vw;
    }
    .mascot{
        width: 64%;
        right: 19.6vw;
    }
    .text3{
        font-size: 5vw;
        top: 6vw;
        left: -43vw;
    }
    .line1{
        width: 20%;
        top: 10vw;
        left: -62vw;
        
    }
}
@media (min-width: 701px){
    .obg{   
        /* width: 31.7vw; */
        height: 37.7vw;
    }
    .obg1{
        width: 31.7vw;
        height: 43.7vw;    
    }
}
footer{
    margin-top: 4vw;
}
