body{
    background-color: #0f0f2d;
    color: white;
    font-family: 'Inter'; 
}
/* *::selection{
    color: white;
    background:#880A9C ;
} */
*::-webkit-scrollbar{
    -ms-overflow-style: none;
    width: 0; }
.navbar{
    display: grid;
    grid-template-columns:0fr 1.7fr 1fr 1fr 0fr;    
    padding-top: 3.5vw;
}
.navbar>div{
    display: flex;    
}

.now{
    color: #C91DBE;
}

nav>div>div>div>a,nav>div>div>div>div>div>a{
    font-family: 'Kanit';
    font-style: normal;
    color: white;
    text-decoration: none;

    font-weight: 500;
    /* font-size: 24px; */
    font-size: 1.8vw;
    line-height: 2.5vw;
    letter-spacing: -0.05em;
}
/* nav>div>div>div>div>div>img{
    width: 2vw;
    height: 2vw;
} */
.retreat{
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    /* padding-right: 2vw; */

}
nav>div>div>div>a>img{
    width: 2.45vw;
}

.plus:hover{
    background-color: #2C2C46;
    /* border: 1px solid white; */
    /* display: inline-block;  */
    border-radius:10%;
    padding: 0.25vw 1.4vw 0.25vw 1.4vw;
    margin-left: 1.1vw;
    margin-right: 1.1vw;
    position: relative;
    /* right: 1.4vw; */
    bottom: 0.03vw;
    text-align: center;
    border-radius: 35% / 100%;

}
.plus1:hover{
    border-radius: 25% / 70%;
}

.plus2:hover{
    border-radius: 35% / 100%;    
}
.rul:hover{
    border-radius: 35% / 80%;    
}
.info:hover{
    border-radius: 35% / 110%;    
}
.nav_icon{
    margin: 0 5vw 0 5vw;
}
.nav_icon>div{
    padding: 0 1vw 0 1vw;
}
.logo{
    position: relative;
    bottom: 2.26vw;
    left: 3.57vw;
    width: 5.32vw;
    height:  5.32vw;
    padding-left: 0.3vw;
    padding-top: 0.354vw;
    border-radius: 30%;
}
.logo>a>img{
    width: 5.556vw;
    height: 5.556vw;
}
html, body {
    height: 100%; /* Обеспечиваем, что body занимает всю высоту экрана */
    margin: 0; /* Убираем отступы */
    display: flex;
    flex-direction: column;
}

footer {
    color: white;
    /* padding: 1rem; */
    text-align: center;
}
footer{
    position: relative;
    margin-top:20%;
    transform: scaleX(100%);
    /* height: 19%; */
    /* height: 10vw; */
    font-family: 'Inter';
    
}
.hre{
    text-align: center;
    padding-top: 1.3vw;
}
.hre>img,.hre>a>img{
    width: 2.7vw;
    height: 2.7vw;
    
}
.hre>img{
    top: 1.54vw;
    left: 38.165;
    border-radius: 1.75vw;
    opacity: 0px;
}
.back{
    background-color: hsl(274, 69%, 38%);
    padding: 0.157vw;
}
.textF{
    font-weight: 400;
    font-size: 1.12vw;
    line-height: 1.68vw;
    letter-spacing: -0.05em;
    
    color: rgba(255, 255, 255, 0.7);
    
}
#navigation{
    display: none;
}
.foot_line{
    position: relative;
    bottom: 0.8vw;
    /* 14.8 */
    height: 4px;
    box-sizing: border-box;
    
    background: linear-gradient(330.96deg, rgba(217, 217, 217, 0.13) 0%, rgba(255, 255, 255, 0.13) 78.31%);
    border: 1px solid rgba(217, 217, 217, 0.15);
    backdrop-filter: blur(2.5px);
    border-radius: 20px;
    
    margin-left: 45.8vw;
    margin-right: 45.8vw;
}
.foot_line.activ{
    animation: 0.5s linear 0s 1 alternate sun-rise;
    margin-left: 14.8vw;
    margin-right: 14.8vw;
}
@keyframes sun-rise {
    from {
      /* pushes the sun down past the viewport */
      margin-left: 45.8vw;
      margin-right: 45.8vw;
    }
    to {
      /* returns the sun to its default position */
      margin-left: 14.8vw;
      margin-right: 14.8vw;
    }
  }
.textW{
    color: white;
}
.foot_flex{
    display: flex;
    flex-direction: column;
}
@media (min-width:701px){
    .none_bloc{
        display: none;
    }
    .nav_fon{
        width: 1.88vw;
        height: 1.88vw;
    }
}

@media (max-width:700px){
    header{
        margin-bottom: 10vw;
    }
    video{
        top:44vw;
    }
    .navbar{
        display: grid;
        grid-template-columns:0fr 0fr 0fr 10fr;    
        padding-top: 1.5vw;
    }
    .logo{
        position:relative;
        top: 2vw;
        left: 77vw;
        /* background-color: hsl(274, 69%, 38%); */
        width: 11.32vw;
        height: 11.32vw;
        padding-left: 0.3vw;
        padding-top: 0.354vw;
        border-radius: 30%;
    }
    .logo>a>img {
        width: 11vw;
        height: 11vw;
    }
    #display{
        display: none;
    }
    #clic{
        width: 5vw;
        height: 5vw;
        padding-top: 3.8vw;
        padding-left: 3vw;
    }
    .navbar>div>div>div>div>a>img{
        width: 8.1vw;
        position: relative;
        top: 2vw;
        right: 3vw;
    
    

        background: rgb(42, 40, 55);
        border-radius: 1.5vw;
        padding:0 1vw 0 1vw ;



    }
    .navbar>div>div>div>div>a{
        position: relative;
        font-size: 5.5vw;
        padding-top: 3.0vw;
        padding-bottom: 3.0vw;

    }
    .navbar>div>div>div>div{
        padding-top: 1vw;
        padding-bottom: 1vw;

        margin-top: 2vw;
        margin-bottom: 2vw;
        
        position: relative;
        bottom:5vw;
    }
    .nav_icon{
        box-sizing: border-box;
        padding: 0px;
        margin-top: 2.3vw;
        position: absolute;
        height: 8vw;
        width: 25.7vw;
        /* width: 107px; */
        /* height: 32px; */
        left: 6vw;
        /* top: 0px; */
        border: 0.0001vw solid #FFFFFF;
        border-radius: 2.58vw;
    }
    .nav_icon>div>a>img{
        position:absolute;
        top: 10%;
        text-align: center;
        width: 5.8vw;
    }
    .tg{
        right: 2vw;
    }
    .map1{
        right: 17.5vw;
    }
    .dc{
        right: 9.55vw;
    }
    .fon_nav_tel{
        padding: 5vw;
        position: fixed;
         
    box-sizing: border-box;

        position: absolute;
        width:60vw;
        height: 70vw;
        top: 15vw;

        background: #0F0F2D;
        border: 1px solid rgba(217, 217, 217, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        
        left: 20%;
        display: block;
        
    }
    .navigation{
        z-index:99999999;

    }
    #navigation{
        position:fixed;
        top:0vw;
        background-color: white;
        height: 100%;
        padding:50%; 
        padding-bottom:100%;
        z-index:99999999;
        
        background: linear-gradient(330.96deg, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 78.31%);
        backdrop-filter: blur(7px);
 
                
    }

    .plus:hover{
        width: 6.7vw;
        height: 6.7vw;  
        background: none;
        border: none;
        left: 1.1vw;
        margin-left: 0vw;
        bottom: 0vw;
        padding: 0vw 1.4vw 0vw 1.4vw;

        margin: 0px;
    }
    footer{
        margin-top:50%;
        background-repeat:round;
        padding:2vw;
    }
    .hre>img{
        border-radius: 100%;
    }
    .hre>img,.hre>a>img{
        width: 6.7vw;
        height: 6.7vw;   
    }
    .textF{
        font-size: 3vw;
        line-height: 3vw;
    }
    .now,.now:hover{
        background: linear-gradient(270.75deg, #FFFFFF 5.23%, #8A1DC9 99.74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    .foot_marg{margin: 1vw;}
    .foot_line{
        margin-left: 3vw;
        margin-right: 3vw;
        margin-bottom: 4vw;
    }
    .foot_line.activ{
        animation: 0.5s linear 0s 1 alternate sun;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    @keyframes sun {
        from {
          /* pushes the sun down past the viewport */
          margin-left: 45.8vw;
          margin-right: 45.8vw;
        }
        to {
          /* returns the sun to its default position */
          margin-left: 3vw;
          margin-right: 3vw;
        }
      }
    .svop1{order: 1;}
    .svop2{order: 0;}
}
@media (max-width:345px){
    footer{margin-top: 68%;}
}